@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

body {
    height: auto;
    background-image: url("https://live.staticflickr.com/7283/16386858141_bfe042d14c_h.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 1600px 800px;
   }
 
.topbar{
    background-color: black;
    width: 100%;
    height: 40px;
}

.container{
    width: 100%;
    margin: 0px auto;
}    
 
#navbar{
    width: 100%;
    height: 80px;
    background-color: #f1f5f4;
}
 
#navbar h1 {
    float: left;
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-left: 10px;
}
 
#navbar ul {
    float: right;
    display: inline;
    padding: 15px 5px;
    margin-right: auto;
    margin-left: auto;   
}
 
#navbar ul li {
    display: inline;
    list-style: none;
}
 
#navbar ul li a{
    color: black;
    font-size: 20px;
    padding: 15px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
 
#navbar ul li a:hover {
    background-color: grey;
}

#home{
    color: white;
    font-family: 'Roboto+Slab', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}   

#home h1{
    font-size: 36px;
    margin-top: 150px;
    font-family: 'Roboto+Slab', sans-serif;
}

#home h3{
    font-size: 20px;
    font-family: 'Roboto+Slab', sans-serif;
}

#home button{
    background-color: black;
    color: #f1f5f4;
    font-size: 20px;
    font-family: 'Roboto+Slab', sans-serif;
    border-radius: 5px;
}

#home button:hover{
    background-color: grey;
    cursor: pointer;
}

#midbar{
    background-color: black;
    width: 100%;
    height: 5px;
    margin-top: 365px;
}

#course{
    color: black;
    text-align: center;
    margin-top: 70px;
}

#content1{
    width: 30%;
    background-color: black;
    height: 160px;
    float: left;
    margin-top: 50px;
    margin-right: 2%;
    margin-bottom: 50px;
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;
}

.heading{
    font-size: 25px;
    margin-left: 20px;
    color: rgba(236, 239, 236, 0.995);
}

.para{
    color: white;
    margin-left: 20px;
    text-align: justify;
    margin-right: 8px;
}

.more{
    color: #090909;
    text-decoration: none;
    background-color: #f1f5f4;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
}

#content2{
    width: 30%;
    background-color: black;
    height: 160px;
    float: left;
    margin-top: 50px;
    margin-right: 2%;
    margin-bottom: 50px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

#content3{
    width: 30%;
    background-color: black;
    height: 160px;
    float: left;
    margin-top: 50px;
    margin-right: 2%;
    margin-bottom: 50px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

#endbar{
    background-color: black;
    width: 100%;
    height: 5px;
    margin-top: 350px;
}

#signin{
    color: black;
    justify-content: center;
}

#signin h1{
    color: black;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

#signin label{
    display: block;
    margin-left: 360px;
    margin-right: auto;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}

#signin input[type=text], input[type=password] {
    display: block;
    width: 50%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    border: none;
    background: #f1f1f1;
    font-size: 16px;
}

#signin button{
    display: block;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#signin button:hover{
    background-color: grey;
    cursor: pointer;
}

#signin h3{
    color: black;
    font-size: 18px;
    text-align: center;
}

#contact{
    width: 100%;
    background-color: rgba(107, 104, 104, 0.548);
    height: 60px;
    margin-bottom: 0px;
    margin-top: 70px;
}

#contact h3{
    text-align: center;
    color: black;
    padding: 15px;
}
#footer{
    margin-top: 0px;
    margin-bottom: 0;
    background: black;
    height: 40px;
    width: 100%;
}

#footer h3{
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 10px;
}